.header{
    background-color: #1ABC9C;
}
.header-icon{
    position: relative;
}
.header-icon::after{
    position: absolute;
    content:"";
    top: 30%;
    left: 25%;
    height: 4px;
    width: 20%;
    background-color: #ffff;
}
.header-icon::before{
    position: absolute;
    content:"";
    top: 30%;
    right: 25%;
    height: 4px;
    width: 20%;
    background-color: #ffff;
}